<!DOCTYPE html>
<html lang="en">
<head>
<title>Publication</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/filer.css">
<script src="/javascripts/filer.js" type="text/javascript"></script>
<script>
function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}
$(function(){
	if(document.cookie.indexOf('sjsuid')==-1) window.location.href="/view/login.html";
	var sjsuid = getCookie('sjsuid');
	$("#firstTime").change(function(){
		// $("#firstTimeYes").find("input").val("");
		// $("#firstTimeNo").find("input").val("");
		if($("#firstTime").val()=="Yes"){
			$("#firstTimeYes").show();
			$("#firstTimeNo").hide();
			// $('#firstTimeYes input').attr('required', true);
			// $('#firstTimeNo input').removeAttr('required');
		}else{
			// $('#firstTimeNo input').attr('required', true);
			// $('#firstTimeYes input').removeAttr('required');
			$("#firstTimeNo").show();
			$("#firstTimeYes").hide();
		}
	});
	$("#firstTimeShared").change(function(){
		$("#sharedYes").find("input").val("");
		if($("#firstTimeShared").val()=="Yes"){
			$("#sharedYes").show();
			$('#sharedYes input').attr('required', true);
		}else{
			$('#sharedYes input').removeAttr('required');
			$("#sharedYes").hide();
		}
	});
	$("#pubOnline").change(function(){
		$("#pubOnlineGroup").find("input").val("");
		if($("#pubOnline").val()=="Yes"){
			$("#pubOnlineGroup").show();
			$('#pubOnlineGroup input').attr('required', true);
		}else{
			$('#pubOnlineGroup input').removeAttr('required');
			$("#pubOnlineGroup").hide();
		}
	});
	// $("#journalPaperPub").change(function(){
	// 	$("#journalPubListGroup").find("input").val("");
	// 	if($("#journalPaperPub").val()=="Yes"){
	// 		$("#journalPubListGroup").show();
	// 		$('#journalPubListGroup input').attr('required', true);
	// 	}else{
	// 		$('#journalPubListGroup input').removeAttr('required');
	// 		$("#journalPubListGroup").hide();
	// 	}
	// });
	// $("#confPaperPub").change(function(){
	// 	$("#confPubListGroup").find("input").val("");
	// 	if($("#confPaperPub").val()=="Yes"){
	// 		$("#confPubListGroup").show();
	// 		$('#confPubListGroup input').attr('required', true);
	// 	}else{
	// 		$("#confPubListGroup").hide();
	// 		$('#confPubListGroup input').removeAttr('required');
	// 	}
	// });	
	var jf = $('.upload').filer({
		showThumbs: true,
		addMore: true,
		allowDuplicates: false,
		maxSize:5,
		limit:1,
		extensions:["pdf"],
		templates:{				
			removeConfirmation: false
		},
		captions:{				
			errors: {
				filesType: "Only PDF is allowed to be uploaded."		
			}
		}
	});
	
	
	$("#tab1 form").submit(function(e) {
		e.preventDefault();
		$("#tab1 #sjsuid").val(sjsuid);
		$.ajax({
			type: "POST",
			url: "/user/update",
			data: $("#tab1 form").serialize(),
			success: function(data){
			   if (data.redirect) window.location.href = data.redirect;
			   else if(data.success=='false') alert(data.msg);
			   else onLoadTab1();
			}
		});
	});
	
	$("#research_grants form").submit(function(e) {
		e.preventDefault();
		$("#research_grants #sjsuid").val(sjsuid);		
		var formData = new FormData($(this)[0]);
		$.ajax({
			type: "POST",
			url: "/user/addGrants",
			data: formData,
			contentType: false,
			processData: false,
			success: function(data){
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					$("#research_grants form")[0].reset();
					var filerKit = $('#research_grants #awardPDF').prop("jFiler");
					filerKit.reset();
					var filerKit = $('#research_grants #budgePDF').prop("jFiler");
					filerKit.reset();
					alert("Thanks for submitting the form! You can go to My Submissions to modify your submissions.");
				}
			}
		});
	});

	$("#tab2 form").submit(function(e) {
		e.preventDefault();
		$("#tab2 #sjsuid").val(sjsuid);		
		var formData = new FormData($(this)[0]);
		$.ajax({
			type: "POST",
			url: "/user/addJournal",
			data: formData,
			contentType: false,
			processData: false,
			success: function(data){
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					$("#tab2 form")[0].reset();
					var filerKit = $('#tab2 .upload').prop("jFiler");
					filerKit.reset();
					alert("Thanks for submitting the form! You can go to My Submissions to modify your submissions.");
				}
			}
		});
	});
	
	$("#tab3 form").submit(function(e) {
		e.preventDefault();
		$("#tab3 #sjsuid").val(sjsuid);		
		var formData = new FormData($(this)[0]);
		$.ajax({
			type: "POST",
			url: "/user/addConference",
			data: formData,
			contentType: false,
			processData: false,
			success: function(data){
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					$("#tab3 form")[0].reset();
					var filerKit = $('#tab3 .upload').prop("jFiler");
					filerKit.reset();
					alert("Thanks for submitting the form! You can go to My Submissions to modify your submissions.");
				}
			}
		});
	});
	
	$("#tab4 form").submit(function(e) {
		e.preventDefault();
		$("#tab4 #sjsuid").val(sjsuid);		
		var formData = new FormData($(this)[0]);
		$.ajax({
			type: "POST",
			url: "/user/addThesis",
			data: formData,
			contentType: false,
			processData: false,
			success: function(data){
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					$("#tab4 form")[0].reset();		
					var filerKit = $('#tab4 #commentsPDF').prop("jFiler");
					filerKit.reset();	
					var filerKit = $('#tab4 #acceptanceLetter').prop("jFiler");
					filerKit.reset();		
					alert("Thanks for submitting the form! You can go to My Submissions to modify your submissions.");
				}
			}
		});
	});

	function grantsClick(e){
		var _id = $(e.target).parent().parent().attr("id");
		var action = $(e.target).html();
		var pdfID = $(e.target).attr("id");
		if(action=="Download"){
			//$("#pubType").val("journal");
			//$("#pubID").val(_id);			
			$("#pdfID").val(pdfID);
			$("#downloadForm").attr("action",'/user/download').submit();			
		} else if(action=="Edit"){
			$("#research_grants #id").val(_id);
			$('.nav-tabs a[href="#research_grants"]').tab('show');
		} else if (confirm("Want to delete?")){
			$.ajax({
				url: "/user/grants",
				type: 'delete',
				data: 'sjsuid='+sjsuid+"&id="+_id,
				success: function (data) {
					if (data.redirect) window.location.href = data.redirect;
					else if(data.success=='false') alert(data.msg);
					else{
						//$('.nav-tabs a[href="#tab5"]').tab('show');
						onLoadTab5();
					}
				},
				error: function(error) { 
					alert('Error!'+error);
				} 
			});
		}
	}

	function journalClick(e){
		var _id = $(e.target).parent().parent().attr("id");
		var action = $(e.target).html();
		var pdfID = $(e.target).attr("id");
		if(action=="Download"){
			//$("#pubType").val("journal");
			//$("#pubID").val(_id);			
			$("#pdfID").val(pdfID);
			$("#downloadForm").attr("action",'/user/download').submit();			
		} else if(action=="Edit"){
			$("#tab2 #id").val(_id);
			$('.nav-tabs a[href="#tab2"]').tab('show');
		} else if (confirm("Want to delete?")){
			$.ajax({
				url: "/user/journal",
				type: 'delete',
				data: 'sjsuid='+sjsuid+"&id="+_id,
				success: function (data) {
					if (data.redirect) window.location.href = data.redirect;
					else if(data.success=='false') alert(data.msg);
					else{
						//$('.nav-tabs a[href="#tab5"]').tab('show');
						onLoadTab5();
					}
				},
				error: function(error) { 
					alert('Error!'+error);
				} 
			});
		}
	}
	function conferenceClick(e){
		var _id = $(e.target).parent().parent().attr("id");
		var action = $(e.target).html();
		var pdfID = $(e.target).attr("id");
		if(action=="Download"){
			$("#pdfID").val(pdfID);
			$("#downloadForm").attr("action",'/user/download').submit();
		} else if(action=="Edit"){
			$("#tab3 #id").val(_id);
			$('.nav-tabs a[href="#tab3"]').tab('show');
		} else if (confirm("Want to delete?")){
			$.ajax({
				url: "/user/conference",
				type: 'delete',
				data: 'sjsuid='+sjsuid+"&id="+_id,
				success: function (data) {
					if (data.redirect) window.location.href = data.redirect;
					else if(data.success=='false') alert(data.msg);
					else{
						onLoadTab5();
						//$('.nav-tabs a[href="#tab5"]').tab('show');
					}
				},
				error: function(error) { 
					alert('Error!'+error);
				} 
			});
		}
	}
	function thesisClick(e){
		var _id = $(e.target).parent().parent().attr("id");
		var action = $(e.target).html();
		var pdfID = $(e.target).attr("id");
		if(action=="Download"){
			$("#pdfID").val(pdfID);
			$("#downloadForm").attr("action",'/user/download').submit();
		} else if(action=="Edit"){
			$("#tab4 #id").val(_id);
			$('.nav-tabs a[href="#tab4"]').tab('show');
		} else if (confirm("Want to delete?")){
			$.ajax({
				url: "/user/thesis",
				type: 'delete',
				data: 'sjsuid='+sjsuid+"&id="+_id,
				success: function (data) {
					if (data.redirect) window.location.href = data.redirect;
					else if(data.success=='false') alert(data.msg);
					else{
						onLoadTab5();
						//$('.nav-tabs a[href="#tab5"]').tab('show');
					}
				},
				error: function(error) { 
					alert('Error!'+error);
				} 
			});
		}
	}
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		var target = $(e.target).attr("href");
		if (target == '#tab1') onLoadTab1();
		else if (target == '#research_grants') onLoadResearchGrants();
		else if (target == '#tab2') onLoadTab2();
		else if (target == '#tab3') onLoadTab3();
		else if (target == '#tab4') onLoadTab4();
		else if (target == '#tab5') onLoadTab5();
	});
	function onLoadTab1(){
		$.ajax({
			url: "/user/show",
			type: 'get',
			data: 'sjsuid='+sjsuid,
			success: function (data) {
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					var data = data.data;
					$("#tab1 #lastname").val(data.lastname);
					$("#tab1 #firstname").val(data.firstname);
					$("#tab1 #rank").val(data.rank);
					$("#tab1 #year").val(data.year);
				}
			},
			error: function(error) { 
				alert('Error!'+error);
			} 
		});
	}
	function onLoadResearchGrants(){
		var id = $("#research_grants #id").val().trim();
		if(id=="") return;
		$.ajax({
			url: "/user/grants",
			type: 'get',
			data: 'sjsuid='+sjsuid+"&id="+id,
			success: function (data) {
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					var data = data.data;
					$("#research_grants #grantTitle").val(data.grantTitle);
					$("#research_grants #fundingAgency").val(data.fundingAgency);
					$("#research_grants #copisList").val(data.copisList);
					$("#research_grants #institutions").val(data.institutions);
					$("#research_grants #firstTime").val(data.firstTime);
					$("#research_grants #firstTimeStartDate").val(data.firstTimeStartDate);
					$("#research_grants #firstTimeEndDate").val(data.firstTimeEndDate);
					$("#research_grants #firstTimeTotalAward").val(data.firstTimeTotalAward);
					$("#research_grants #firstTimeRateCharged").val(data.firstTimeRateCharged);
					$("#research_grants #firstTimeShared").val(data.firstTimeShared);
					$("#research_grants #firstTimeTotalFunding").val(data.firstTimeTotalFunding);
					$("#research_grants #totalAward").val(data.totalAward);
					$("#research_grants #amountInvoked").val(data.amountInvoked);
					$("#research_grants #yearsInvoked").val(data.yearsInvoked);
					$("#research_grants #balanceAvailable").val(data.balanceAvailable);
					$("#research_grants #endDate").val(data.endDate);
					if(data.firstTime=="Yes"){
						$("#firstTimeYes").show();
						$("#firstTimeNo").hide();
						// $('#firstTimeYes input').attr('required', true);
						// $('#firstTimeNo input').removeAttr('required');
					}else{
						// $('#firstTimeNo input').attr('required', true);
						// $('#firstTimeYes input').removeAttr('required');
						$("#firstTimeNo").show();
						$("#firstTimeYes").hide();
					}
					if(data.firstTimeShared=="Yes"){
						$("#sharedYes").show();
						$('#sharedYes input').attr('required', true);
					}else{
						$('#sharedYes input').removeAttr('required');
						$("#sharedYes").hide();
					}
				}
			},
			error: function(error) { 
				alert('Error!'+error);
			} 
		});
	}
	function onLoadTab2(){
		var id = $("#tab2 #id").val().trim();
		if(id=="") return;
		$.ajax({
			url: "/user/journal",
			type: 'get',
			data: 'sjsuid='+sjsuid+"&id="+id,
			success: function (data) {
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					var data = data.data;
					$("#tab2 #title").val(data.title);
					$("#tab2 #authors").val(data.authors);
					$("#tab2 #affiliation").val(data.affiliation);
					$("#tab2 #coauthors").val(data.coauthors);
					$("#tab2 #correspondingAuthor").val(data.correspondingAuthor);
					$("#tab2 #journalTitle").val(data.journalTitle);
					$("#tab2 #journalURL").val(data.journalURL);
					$("#tab2 #pubYear").val(data.pubYear);
					$("#tab2 #pubMonth").val(data.pubMonth);
					$("#tab2 #journalVolumeNumber").val(data.journalVolumeNumber);
					$("#tab2 #issueNumber").val(data.issueNumber);
					$("#tab2 #pagesNumber").val(data.pagesNumber);
					$("#tab2 #doi").val(data.doi);
					$("#tab2 #impactFactor").val(data.impactFactor);
					$("#tab2 #impactRate").val(data.impactRate);
					$("#tab2 #pubOnline").val(data.pubOnline);
					$("#tab2 #yearOnline").val(data.yearOnline);
					$("#tab2 #monthOnline").val(data.monthOnline);
					$("#tab2 #urlOnline").val(data.urlOnline);
					if(data.pubOnline=="Yes"){
						$("#pubOnlineGroup").show();
						$('#pubOnlineGroup input').attr('required', true);
					}else{
						$('#pubOnlineGroup input').removeAttr('required');
						$("#pubOnlineGroup").hide();
					}
				}
			},
			error: function(error) { 
				alert('Error!'+error);
			} 
		});
	}
	function onLoadTab3(){
		var id = $("#tab3 #id").val().trim();
		if(id=="") return;
		$.ajax({
			url: "/user/conference",
			type: 'get',
			data: 'sjsuid='+sjsuid+"&id="+id,
			success: function (data) {
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					var data = data.data;
					$("#tab3 #title").val(data.title);
					$("#tab3 #authors").val(data.authors);
					$("#tab3 #affiliation").val(data.affiliation);
					$("#tab3 #coauthors").val(data.coauthors);
					$("#tab3 #isCorrespondingAuthor").val(data.isCorrespondingAuthor);
					$("#tab3 #conferenceTitle").val(data.conferenceTitle);
					$("#tab3 #locationHeld").val(data.locationHeld);
					$("#tab3 #conferenceYear").val(data.conferenceYear);
					$("#tab3 #conferenceMonth").val(data.conferenceMonth);
					$("#tab3 #conferenceDays").val(data.conferenceDays);
					$("#tab3 #conferenceDomain").val(data.conferenceDomain);
					$("#tab3 #sponsor").val(data.sponsor);
					$("#tab3 #reviewed").val(data.reviewed);
					$("#tab3 #pubRange").val(data.pubRange);
					$("#tab3 #conferencePagesNumber").val(data.conferencePagesNumber);
					$("#tab3 #urlOnline").val(data.urlOnline);
					$("#tab3 #conferenceAcceptanceRate").val(data.conferenceAcceptanceRate);		
				}
			},
			error: function(error) { 
				alert('Error!'+error);
			} 
		});
	}
	function onLoadTab4(){
		var id = $("#tab4 #id").val().trim();
		if(id=="") return;
		$.ajax({
			url: "/user/thesis",
			type: 'get',
			data: 'sjsuid='+sjsuid+"&id="+id,
			success: function (data) {
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					var data = data.data;
					$("#tab4 #title").val(data.title);
					$("#tab4 #student").val(data.student);
					$("#tab4 #department").val(data.department);
					$("#tab4 #yearAccepted").val(data.yearAccepted);
					$("#tab4 #monthAccepted").val(data.monthAccepted);
					$("#tab4 #thesesRole").val(data.thesesRole);
					$("#tab4 #journalPaperPub").val(data.journalPaperPub);
					// $("#tab4 #journalPubList").val(data.journalPubList);
					$("#tab4 #confPaperPub").val(data.confPaperPub);
					// $("#tab4 #confPubList").val(data.confPubList);	
					$("#tab4 #thesesURL").val(data.thesesURL);
				
					// if(data.journalPaperPub=="Yes"){
					// 	$("#journalPubListGroup").show();
					// 	$('#journalPubListGroup input').attr('required', true);
					// }else{
					// 	$('#journalPubListGroup input').removeAttr('required');
					// 	$("#journalPubListGroup").hide();
					// }
					
					// if(data.confPaperPub=="Yes"){
					// 	$("#confPubListGroup").show();
					// 	$('#confPubListGroup input').attr('required', true);
					// }else{
					// 	$("#confPubListGroup").hide();
					// 	$('#confPubListGroup input').removeAttr('required');
					// }
				}
			},
			error: function(error) { 
				alert('Error!'+error);
			} 
		});		
	}
	function onLoadTab5(){
		$("#grantsTbody").empty();
		$("#journalTbody").empty();
		$("#conferenceTbody").empty();
		$("#thesisTbody").empty();
		$.ajax({
			url: "/user/submition",
			type: 'get',
			data: 'sjsuid='+sjsuid,
			success: function (data) {
				if (data.redirect) window.location.href = data.redirect;
				else if(data.success=='false') alert(data.msg);
				else{
					var grants = data.data.grants;
					var jnl = data.data.journal;
					var conf = data.data.conference;
					var thesis = data.data.thesis;
					grants.forEach(function(e) {
						var awardPDF = e.awardPDFID==""?"":"<a id='"+e.awardPDFID+"'>Download</a>";
						var budgePDF = e.budgePDFID==""?"":"<a id='"+e.budgePDFID+"'>Download</a>";				
						$("#grantsTbody").append("<tr id='"+e.id+"'><td>"+e.grantTitle+"</td><td>"+e.fundingAgency+"</td><td>"+e.copisList+"</td><td>"+awardPDF+"</td><td>"+budgePDF+"</td><td><a>Edit</a><a style='margin-left:10px'>Delete</a></td></tr>");
					});
					$("#grantsTbody tr td a").click(grantsClick);

					jnl.forEach(function(e) {
						var pdf = e.pdfID==""?"":"<a id='"+e.pdfID+"'>Download</a>";				
						$("#journalTbody").append("<tr id='"+e.id+"'><td>"+e.title+"</td><td>"+e.authors+"</td><td>"+e.journalTitle+"</td><td>"+e.pubYear+"</td><td>"+e.impactFactor+"</td><td>"+e.pubOnline+"</td><td>"+pdf+"</td><td><a>Edit</a><a style='margin-left:10px'>Delete</a></td></tr>");
					});
					$("#journalTbody tr td a").click(journalClick);
					
					conf.forEach(function(e) {
						var pdf = e.pdfID==""?"":"<a id='"+e.pdfID+"'>Download</a>";	
						$("#conferenceTbody").append("<tr id='"+e.id+"'><td>"+e.title+"</td><td>"+e.authors+"</td><td>"+e.conferenceTitle+"</td><td>"+e.reviewed+"</td><td>"+pdf+"</td><td><a>Edit</a><a style='margin-left:10px'>Delete</a></td></tr>");
					});
					$("#conferenceTbody tr td a").click(conferenceClick);
					
					thesis.forEach(function(e) {
						var commentsPDF = e.commentsPDFID==""?"":"<a id='"+e.commentsPDFID+"'>Download</a>";
						var acceptanceLetter = e.acceptanceLetterID==""?"":"<a id='"+e.acceptanceLetterID+"'>Download</a>";
						$("#thesisTbody").append("<tr id='"+e.id+"'><td>"+e.title+"</td><td>"+e.student+"</td><td>"+e.department+"</td><td>"+e.yearAccepted+"</td><td>"+commentsPDF+"</td><td>"+acceptanceLetter+"</td><td><a>Edit</a><a style='margin-left:10px'>Delete</a></td></tr>");
					});
					$("#thesisTbody tr td a").click(thesisClick);
				}
			},
			error: function(error) { 
				alert('Error!'+error);
			} 
		});
	}
	onLoadTab1();
});

function clearGrants(){
	$("#research_grants form")[0].reset();
	var filerKit = $('#research_grants #awardPDF').prop("jFiler");
	filerKit.reset();
	var filerKit = $('#research_grants #budgePDF').prop("jFiler");
	filerKit.reset();
		if($("#firstTime").val()=="Yes"){
			$("#firstTimeYes").show();
			$("#firstTimeNo").hide();
			// $('#firstTimeYes input').attr('required', true);
			// $('#firstTimeNo input').removeAttr('required');
		}else{
			// $('#firstTimeNo input').attr('required', true);
			// $('#firstTimeYes input').removeAttr('required');
			$("#firstTimeNo").show();
			$("#firstTimeYes").hide();
		}
}

function clearJournal(){
	$("#tab2 form")[0].reset();
	var filerKit = $('#tab2 .upload').prop("jFiler");
	filerKit.reset();
	if($("#pubOnline").val()=="Yes"){
		$("#pubOnlineGroup").show();
		$('#pubOnlineGroup input').attr('required', true);
	}else{
		$('#pubOnlineGroup input').removeAttr('required');
		$("#pubOnlineGroup").hide();
	}
}
function clearConference(){
	$("#tab3 form")[0].reset();
	var filerKit = $('#tab3 .upload').prop("jFiler");
	filerKit.reset();
}
function clearThesis(){
	$("#tab4 form")[0].reset();
	var filerKit = $('#tab4 #commentsPDF').prop("jFiler");
	filerKit.reset();	
	var filerKit = $('#tab4 #acceptanceLetter').prop("jFiler");
	filerKit.reset();
	// if($("#journalPaperPub").val()=="Yes"){
	// 	$("#journalPubListGroup").show();
	// 	$('#journalPubListGroup input').attr('required', true);
	// }else{
	// 	$('#journalPubListGroup input').removeAttr('required');
	// 	$("#journalPubListGroup").hide();
	// }
	
	// if($("#confPaperPub").val()=="Yes"){
	// 	$("#confPubListGroup").show();
	// 	$('#confPubListGroup input').attr('required', true);
	// }else{
	// 	$("#confPubListGroup").hide();
	// 	$('#confPubListGroup input').removeAttr('required');
	// }
}
</script>
</head>
<body>
<div style="text-align: center"><img src="/images/head.gif"></div>

<div class="container" style="margin-top:20px">
	<h5><a href="/login/logout" style="float:right">Logout</a></h5>
	<ul class="nav nav-tabs" style="font-weight:bold">
		<li class="active"><a data-toggle="tab" href="#tab1">Personal Information</a></li>
		<li><a data-toggle="tab" href="#research_grants">Research Grants</a></li>
		<li><a data-toggle="tab" href="#tab2">Journal Publications</a></li>
		<li><a data-toggle="tab" href="#tab3">Conference Publications</a></li>
		<li><a data-toggle="tab" href="#tab4">M.S. Theses Supervised</a></li>
		<li><a data-toggle="tab" href="#tab5">My Submissions</a></li>
	</ul>
	<div class="tab-content" style="padding:15px">
		<div id="tab1" class="tab-pane fade in active">
			<form class="form-horizontal" data-toggle="validator" role="form">
				<input type="hidden" class="form-control" name="sjsuid" id="sjsuid">
				<div class="form-group">
					<label for="firstname" class="control-label col-sm-2">First Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name" disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="lastname" class="control-label col-sm-2">Last Name:</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last Name" disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="rank" class="control-label col-sm-2">Present Rank:</label>
					<div class="col-sm-10">						
						<select class="form-control" name="rank" id="rank" required>
							<option value="Professor">Professor</option>
							<option value="Associate Professor">Associate Professor</option>
							<option value="Assistant Professor">Assistant Professor</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="year" class="control-label col-sm-2">Date Joined SJSU: </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="year" id="year" placeholder="MM/YYYY" required>
					</div>
				</div>
				<div style="text-align:center">
					<button type="submit" onclick="return confirm('Cheers! Your personal infomation is updated!')" class="submit btn btn-default">Update</button>
				</div>				
			</form>
		</div>
		<div id="research_grants" class="tab-pane fade" >
			<form class="form-horizontal" data-toggle="validator" role="form">
				<input type="hidden" class="form-control" name="id" id="id">
				<input type="hidden" class="form-control" name="sjsuid" id="sjsuid">
				<div class="form-group">
					<label for="grantTitle" class="control-label col-sm-2">Grant Title:</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" name="grantTitle" id="grantTitle" placeholder="Grant Title" required>
					</div>
				</div>
				<div class="form-group">
					<label for="fundingAgency" class="control-label col-sm-2">Funding Agency:</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" name="fundingAgency" id="fundingAgency" placeholder="Funding Agency" required>
					</div>
				</div>
				<div class="form-group">
					<label for="copisList" class="control-label col-sm-2">Ordered Listing of Co-PIs and Co-Is:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="copisList" id="copisList" placeholder="Ordered Listing of Co-PIs and Co-Is" required>
					</div>
				</div>
				<div class="form-group">
					<label for="institutions" class="control-label col-sm-2" style="padding-top:0px">Ordered Listing of Their Institutions:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="institutions" id="institutions" placeholder="Ordered Listing of Their Institutions" required>
					</div>
				</div>
				<div class="form-group">
					<label for="firstTime" class="control-label col-sm-2">Is This the First Time This Grant is Being Reported:</label>
					<div class="col-sm-10">						
						<select class="form-control" name="firstTime" id="firstTime" required>
							<option value=""></option>
							<option value="Yes">Yes</option>
							<option value="No">No</option>													
						</select>
					</div>
				</div>
				<div id="firstTimeYes" style="display:none">
					<div class="form-group">
						<label for="firstTimeStartDate" class="control-label col-sm-2">Award Starting Date:</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" name="firstTimeStartDate" id="firstTimeStartDate" placeholder="MM/DD/YYYY">
						</div>
					</div>
					<div class="form-group">
						<label for="firstTimeEndDate" class="control-label col-sm-2">Award Ending Date:</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" name="firstTimeEndDate" id="firstTimeEndDate" placeholder="MM/DD/YYYY">
						</div>		
					</div>
					<div class="form-group">
						<label for="firstTimeTotalAward" class="control-label col-sm-2">Total Award Amount:</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="firstTimeTotalAward" id="firstTimeTotalAward" placeholder="0.00" step=".01">
						</div>
					</div>
					<div class="form-group">
						<label for="firstTimeRateCharged" class="control-label col-sm-2">F&A Rate Charged(%):</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="firstTimeRateCharged" id="firstTimeRateCharged" placeholder="100.00" step=".01">
						</div>
					</div>
					<div class="form-group">
						<label for="firstTimeShared" class="control-label col-sm-2">Is Credit for the Award Amount Shared?</label>
						<div class="col-sm-10">						
							<select class="form-control" name="firstTimeShared" id="firstTimeShared" required>
								<option value="Yes">If Yes, Please Upload Agreed to Amount Attributed to Each Co-PI and Co-I</option>
								<option value="No" selected="">No</option>													
							</select>
						</div>
					</div>
					<div id="sharedYes" style="display:none">
						<div class="form-group">
							<label for="firstTimeTotalFunding" class="control-label col-sm-2">Amount of the Total Funding Attributed to You:</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" name="firstTimeTotalFunding" id="firstTimeTotalFunding" placeholder="0.00" step=".01">
							</div>
						</div>	
						<div class="form-group">
							<label for="awardPDF" class="control-label col-sm-2">Please Upload PDF Copy of the Official Grant Award Letter Received by the SJSURF:</label>
							<div class="col-sm-10">
								<input type="file" class="upload" name="awardPDF" id="awardPDF" accept=".pdf">
							</div>
						</div>	
						<div class="form-group">
							<label for="budgePDF" class="control-label col-sm-2">Please Upload PDF Copy of the Official Grant Budge Approved by the SJSURF:</label>
							<div class="col-sm-10">
								<input type="file" class="upload" name="budgePDF" id="budgePDF" accept=".pdf">
							</div>
							<label>Please Upload pdf Copy of the Published Version.<br>There is a size limit to upload to our server, so make sure your file is not big.<br>Upload both files at the same time to avoid an error message.<br> If you have already uploaded a file for current update and want to keep it, please leave the field blank.<br>To check all your uploaded files, please go to My Submissions. Much appreciated! </label>
						</div>	
					</div>
				</div>	
				<div id="firstTimeNo" style="display:none">
					<div class="form-group">
						<label for="totalAward" class="control-label col-sm-2">Amount of the Total Award Attributed to You:</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="totalAward" id="totalAward" placeholder="0.00" step=".01">
						</div>
					</div>
					<div class="form-group">
						<label for="amountInvoked" class="control-label col-sm-2">Amount Already Invoked for Release-Time in Past Academic Years:</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="amountInvoked" id="amountInvoked" placeholder="0.00" step=".01">
						</div>
					</div>
					<div class="form-group">
						<label for="yearsInvoked" class="control-label col-sm-2">Academic Years Invoked:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="yearsInvoked" id="yearsInvoked" placeholder="Academic Years Invoked">
						</div>
					</div>
					<div class="form-group">
						<label for="balanceAvailable" class="control-label col-sm-2">Balance Available to Invoke for Release-Time :</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="balanceAvailable" id="balanceAvailable" placeholder="0.00" step=".01">
						</div>
					</div>
					<div class="form-group">
						<label for="endDate" class="control-label col-sm-2">Award Ending Date:</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" name="endDate" id="endDate" placeholder="MM/DD/YYYY">
						</div>		
					</div>
				</div>
				<div style="text-align:center">
					<button class="btn btn-default" onclick="clearGrants()">Clear</button>
					<button type="submit" class="btn btn-default">Submit</button>
				</div>				
			</form>
		</div>

		<div id="tab2" class="tab-pane fade" >
			<form class="form-horizontal" data-toggle="validator" role="form">
				<input type="hidden" class="form-control" name="id" id="id">
				<input type="hidden" class="form-control" name="sjsuid" id="sjsuid">
				<div class="form-group">
					<label for="title" class="control-label col-sm-2">Publication Title:</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" name="title" id="title" placeholder="Publication Title" required>
					</div>
				</div>
				<div class="form-group">
					<label for="authors" class="control-label col-sm-2">Ordered Authors:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="authors" id="authors" placeholder="Ordered Authors" required>
					</div>
				</div>
				<div class="form-group">
					<label for="affiliation" class="control-label col-sm-2" style="padding-top:0px">Ordered Authors Affiliations:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="affiliation" id="affiliation" placeholder="Ordered Authors Affiliations" required>
					</div>
				</div>
				<div class="form-group">
					<label for="coauthors" class="control-label col-sm-2" style="padding-top:0px">Names of SJSU Student Coauthors:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="coauthors" id="coauthors" placeholder="Names of SJSU Student Coauthors">
					</div>
				</div>
				<div class="form-group">
					<label for="correspondingAuthor" class="control-label col-sm-2">Are you the Corresponding Author? (See Definition in the Guidelines):</label>
					<div class="col-sm-10">						
						<select class="form-control" name="correspondingAuthor" id="correspondingAuthor" required>
							<option value="Yes">Yes</option>
							<option value="No" selected="">No</option>													
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="journalTitle" class="control-label col-sm-2">Journal Title:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="journalTitle" id="journalTitle" placeholder="Journal Title" required>
					</div>
				</div>
				<div class="form-group">
					<label for="journalURL" class="control-label col-sm-2">Journal URL:</label>
					<div class="col-sm-10">
						<input type="url" class="form-control" name="journalURL" id="journalURL" placeholder="http://url.com">
					</div>
				</div>
				<div class="form-group">
					<label for="pubYear" class="control-label col-sm-2" style="padding-top:0px">Year Published in Print:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="pubYear" id="pubYear" placeholder="YYYY" required>
					</div>
				</div>
				<div class="form-group">
					<label for="pubMonth" class="control-label col-sm-2" style="padding-top:0px">Month Published in Print:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="pubMonth" id="pubMonth" placeholder="January, February, …" required>
					</div>
				</div>
				<div class="form-group">
					<label for="journalVolumeNumber" class="control-label col-sm-2" style="padding-top:0px">Journal Volume Number:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="journalVolumeNumber" id="journalVolumeNumber" placeholder="Journal Volume Number" required>
					</div>
				</div>
				<div class="form-group">
					<label for="issueNumber" class="control-label col-sm-2">Journal Issue Number:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="issueNumber" id="issueNumber" placeholder="Journal Issue Number" required>
					</div>
				</div>
				<div class="form-group">
					<label for="pagesNumber" class="control-label col-sm-2">First-Last Page Number:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="pagesNumber" id="pagesNumber" placeholder="First-Last Page Number" required>
					</div>
				</div>
				<div class="form-group">
					<label for="doi" class="control-label col-sm-2">DOI (if available):</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="doi" id="doi" placeholder="DOI">
					</div>
				</div>
				<div class="form-group">
					<label for="impactFactor" class="control-label col-sm-2" style="padding-top:0px">Journal Impact Factor in JCR:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="impactFactor" id="impactFactor" placeholder="Journal Impact Factor in JCR" required>
					</div>
				</div>
				<div class="form-group">
						<label for="impactRate" class="control-label col-sm-2">Journal Papers Acceptance Rate(%)(if Known):</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" name="impactRate" id="impactRate" placeholder="100.00" step=".01">
						</div>
					</div>
				<div class="form-group">
					<label for="pubOnline" class="control-label col-sm-2">Also Published online?</label>
					<div class="col-sm-10">						
						<select class="form-control" name="pubOnline" id="pubOnline" required>
							<option value="Yes">Yes</option>
							<option value="No" selected>No</option>													
						</select>
					</div>
				</div>
				<div id="pubOnlineGroup" style="display:none">
					<div class="form-group">
						<label for="yearOnline" class="control-label col-sm-2" style="padding-top:0px">Year Appeared Online:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="yearOnline" id="yearOnline" placeholder="YYYY">
						</div>
					</div>
					<div class="form-group">
						<label for="monthOnline" class="control-label col-sm-2" style="padding-top:0px">Month Appeared Online:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="monthOnline" id="monthOnline" placeholder="January, February, …">
						</div>
					</div>
					<div class="form-group">
						<label for="urlOnline" class="control-label col-sm-2" style="padding-top:0px">URL of Online Text of the Paper:</label>
						<div class="col-sm-10">
							<input type="url" class="form-control" name="urlOnline" id="urlOnline" placeholder="http://url.com">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="pdf" class="control-label col-sm-2">Comments, if any (Best Paper Award, Top-Ranked Journal, Invited Presentation, …):</label>
					<div class="col-sm-10">
						<input type="file" class="upload" name="pdf" id="pdf" accept=".pdf">
					</div>
					<label>Please Upload pdf Copy of the Published Version.<br>There is a size limit to upload to our server, so make sure your file is not big.<br> If you have already uploaded a file for current update and want to keep it, please leave the field blank.<br>To check all your uploaded files, please go to My Submissions. Much appreciated! </label>
				</div>				
				<div style="text-align:center">
					<button class="btn btn-default" onclick="clearJournal()">Clear</button>
					<button type="submit" class="btn btn-default">Submit</button>
				</div>				
			</form>
		</div>
		<div id="tab3" class="tab-pane fade">
			<form class="form-horizontal" data-toggle="validator" role="form">
				<input type="hidden" class="form-control" name="id" id="id">
				<input type="hidden" class="form-control" name="sjsuid" id="sjsuid">
				<div class="form-group">
					<label for="title" class="control-label col-sm-2">Publication Title:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="title" id="title" placeholder="Publication Title" required>
					</div>
				</div>
				<div class="form-group">
					<label for="authors" class="control-label col-sm-2">Ordered Authors:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="authors" id="authors" placeholder="OOrdered Authors" required>
					</div>
				</div>
				<div class="form-group">
					<label for="affiliation" class="control-label col-sm-2" style="padding-top:0px">Ordered Authors Affiliations:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="affiliation" id="affiliation" placeholder="Ordered Authors Affiliations" required>
					</div>
				</div>
				<div class="form-group">
					<label for="coauthors" class="control-label col-sm-2" style="padding-top:0px">Names of SJSU Student Coauthors:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="coauthors" id="coauthors" placeholder="Names of SJSU Student Coauthors">
					</div>
				</div>
				<div class="form-group">
					<label for="isCorrespondingAuthor" class="control-label col-sm-2">Are you the Corresponding Author? (See Definition in the Guidelines):</label>
					<div class="col-sm-10">						
						<select class="form-control" name="isCorrespondingAuthor" id="isCorrespondingAuthor" required>
							<option value="Yes">Yes</option>
							<option value="No" selected>No</option>													
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="conferenceTitle" class="control-label col-sm-2">Conference Title:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="conferenceTitle" id="conferenceTitle" placeholder="Conference Title" required>
					</div>
				</div>
				<div class="form-group">
					<label for="locationHeld" class="control-label col-sm-2" style="padding-top:0px">Location Held (City, State/Country):</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="locationHeld" id="locationHeld" placeholder="Location Held" required>
					</div>
				</div>
				<div class="form-group">
					<label for="conferenceYear" class="control-label col-sm-2" style="padding-top:0px">Year:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="conferenceYear" id="conferenceYear" placeholder="YYYY" required>
					</div>
				</div>
				<div class="form-group">
					<label for="conferenceMonth" class="control-label col-sm-2" style="padding-top:0px">Month:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="conferenceMonth" id="conferenceMonth" placeholder="January, February, …" required>
					</div>
				</div>		
				<div class="form-group">
					<label for="conferenceDays" class="control-label col-sm-2" style="padding-top:0px">Days:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="conferenceDays" id="conferenceDays" placeholder="DD to DD" required>
					</div>
				</div>	
				<div class="form-group">
					<label for="conferenceDomain" class="control-label col-sm-2" style="padding-top:0px">National/International Conference:</label>
					<div class="col-sm-10">
						<select class="form-control" name="conferenceDomain" id="conferenceDomain" required>
							<option value="National" selected>National</option>
							<option value="International" >International</option>											
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="sponsor" class="control-label col-sm-2" style="padding-top:0px">Sponsoring Professional Organization(s):</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="sponsor" id="sponsor" placeholder="Sponsoring Professional Organization(s)">
					</div>
				</div>
				<div class="form-group">
					<label for="reviewed" class="control-label col-sm-2">Reviewd Publication:</label>
					<div class="col-sm-10">
						<select class="form-control" name="reviewed" id="reviewed" required>
							<option value="Yes" selected>Yes</option>
							<option value="No" >No</option>									
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="pubRange" class="control-label col-sm-2" style="padding-top:0px">Full Text of Paper Published in Conference Proceedings?</label>
					<div class="col-sm-10">
						<select class="form-control" name="pubRange" id="pubRange" required>
							<option value="FullText" selected>Full Text</option>
							<option value="Abstract">Abstract</option>									
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="conferencePagesNumber" class="control-label col-sm-2">First-Last Page Number in Conference Proceedings:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="conferencePagesNumber" id="conferencePagesNumber" placeholder="First-Last Page Number in Conference Proceedings" required>
					</div>
				</div>
				<div class="form-group">
					<label for="urlOnline" class="control-label col-sm-2" style="padding-top:0px">URL to Conference Proceedings:</label>
					<div class="col-sm-10">
						<input type="url" class="form-control" name="urlOnline" id="urlOnline" placeholder="http://url.com">
					</div>
				</div>
				<div class="form-group">
					<label for="conferenceAcceptanceRate" class="control-label col-sm-2">Conference Papers Acceptance Rate(%) (if known):</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" name="conferenceAcceptanceRate" id="conferenceAcceptanceRate" placeholder="100.00" step=".01">
					</div>
				</div>
				<div class="form-group">
					<label for="pdf" class="control-label col-sm-2">Comments, if any (Best Paper Award, Top-Tier Conference, Invited Presentation, …):</label>
					<div class="col-sm-10">
						<input type="file" class="upload" name="pdf" id="pdf" accept=".pdf">
					</div>
					<label>Please Upload pdf Copy of the Version Published in the Conference Proceedings.<br>There is a size limit to upload to our server, so make sure your file is not big.<br> If you have already uploaded a file for current update and want to keep it, please leave the field blank.<br>To check all your uploaded files, please go to My Submissions. Much appreciated! </label>
				</div>
				
				<div style="text-align:center">				
					<button class="btn btn-default" onclick="clearConference()">Clear</button>
					<button type="submit" class="btn btn-default">Submit</button>
				</div>				
			</form>
		</div>
		<div id="tab4" class="tab-pane fade">
			<form class="form-horizontal" data-toggle="validator" role="form">
				<input type="hidden" class="form-control" name="id" id="id">
				<input type="hidden" class="form-control" name="sjsuid" id="sjsuid">
				<div class="form-group">
					<label for="title" class="control-label col-sm-2">Thesis Title:</label>
					<div class="col-sm-10">
					<input type="text" class="form-control" name="title" id="title" placeholder="Thesis Title" required>
					</div>
				</div>
				<div class="form-group">
					<label for="student" class="control-label col-sm-2">SJSU Student Name:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="student" id="student" placeholder="SJSU Student Name" required>
					</div>
				</div>
				<div class="form-group">
					<label for="department" class="control-label col-sm-2" style="padding-top:0px">Student Department and College:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="department" id="department" placeholder="Student Department and College" required>
					</div>
				</div>
				<div class="form-group">
					<label for="yearAccepted" class="control-label col-sm-2" style="padding-top:0px">Year Accepted by Graduate Studies Office:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="yearAccepted" id="yearAccepted" placeholder="YYYY" required>
					</div>
				</div>
				<div class="form-group">
					<label for="monthAccepted" class="control-label col-sm-2" style="padding-top:0px">Month Accepted:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="monthAccepted" id="monthAccepted" placeholder="January, February, …" required>
					</div>
				</div>
				<div class="form-group">
					<label for="thesesRole" class="control-label col-sm-2">Role?</label>
					<div class="col-sm-10">						
						<select class="form-control" name="thesesRole" id="thesesRole" required>
							<option value="Main Advisor" selected>Main Advisor</option>
							<option value="Co-Advisor">Co-Advisor</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="journalPaperPub" class="control-label col-sm-2" style="padding-top:0px">Joint Journal Paper Published?</label>
					<div class="col-sm-10">
						<select class="form-control" name="journalPaperPub" id="journalPaperPub" required>
							<option value="Yes">If Yes, Please Include in Your Journal Publications</option>
							<option value="No" selected>No</option>									
						</select>
					</div>
				</div>
				<!-- <div class="form-group" id="journalPubListGroup" style="display:none">
					<label for="journalPubList" class="control-label col-sm-2">Journal Pub List:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="journalPubList" id="journalPubList" placeholder="Journal Pub List">
					</div>
				</div> -->
				<div class="form-group">
					<label for="confPaperPub" class="control-label col-sm-2" style="padding-top:0px">Joint Conference Paper Published?</label>
					<div class="col-sm-10">
						<select class="form-control" name="confPaperPub" id="confPaperPub">
							<option value="Yes">If Yes, Please Include in Your Conference Publications</option>
							<option value="No" selected>No</option>									
						</select>
					</div>
				</div>
				<!-- <div class="form-group" id="confPubListGroup" style="display:none">
					<label for="confPubList" class="control-label col-sm-2">Conference Pub List:</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="confPubList" id="confPubList" placeholder="Conference Pub List">
					</div>
				</div>	 -->	
				<div class="form-group">
					<label for="commentsPDF" class="control-label col-sm-2">Comments, If Any (SJSU Best Thesis Award, Filed for Patent, …):</label>
					<div class="col-sm-10">
						<input type="file" class="upload" name="commentsPDF" id="commentsPDF" accept=".pdf">
					</div>
				</div>	
				<div class="form-group">
					<label for="thesesURL" class="control-label col-sm-2" style="padding-top:0px">URL to Thesis in the SJSU Library:</label>
					<div class="col-sm-10">
						<input type="url" class="form-control" name="thesesURL" id="thesesURL" placeholder="http://url.com">
					</div>
				</div>
				<div class="form-group">
					<label for="acceptanceLetter" class="control-label col-sm-2">If URL is Not Available Yet, Please Upload pdf Files of Completed Thesis and the Graduate Studies Office Acceptance Letter:</label>
					<div class="col-sm-10">
						<input type="file" class="upload" name="acceptanceLetter" id="acceptanceLetter" accept=".pdf">
					</div>
					<label>Please Upload pdf Copy of the Published Version.<br>There is a size limit to upload to our server, so make sure your file is not big.<br>If you have already uploaded a file for current update and want to keep it, please leave the field blank.<br>To check all your uploaded files, please go to My Submissions. Much appreciated! </label>
				</div>		
				<div style="text-align:center">
					<button class="btn btn-default" onclick="clearThesis()">Clear</button>
					<button type="submit" class="btn btn-default">Submit</button>
				</div>				
			</form>
		</div>
		<div id="tab5" class="tab-pane fade">
			<form id="downloadForm" method="POST">		
				<input type="text" name="pubType" id="pubType" style="display:none">
				<input type="text" name="pdfID" id="pdfID" style="display:none">
				<input type="text" name="pubID" id="pubID" style="display:none">
				<input type="submit" style="display:none">
			</form>
			<h2>Research Grants</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Grant Title</th>
						<th>Funding Agency</th>
						<th>Co-PIs and Co-Is</th>
						<th>Grant Award PDF</th>
						<th>Grant Budge PDF</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="grantsTbody"> </tbody>
			</table>
			<h2>Journal Publications</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Publication Title</th>
						<th>Ordered Authors</th>
						<th>Journal Title</th>
						<th>Year Published in Print</th>
						<th>Journal Impact Factor</th>
						<th>Also Published online?</th>
						<th>Comments</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="journalTbody"> </tbody>
			</table>
			<h2>Conference Publications</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Publication Title</th>
						<th>Ordered Authors</th>
						<th>Conference Title</th>						
						<th>Reviewed Publication</th>
						<th>Comments</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="conferenceTbody"> </tbody>
			</table>
			<h2>M.S. Theses Supervised</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Student</th>
						<th>Student Department</th>
						<th>Year Accepted</th>
						<th>Comments PDF</th>
						<th>PDF2</th>
						<!-- <th>Journal Pub List</th> -->
						<!-- <th>Conference Pub List</th>						 -->
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="thesisTbody"> </tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>